/* * {
    margin: 0, padding: 0
} */

.container-home {
    margin: 0;
    width: 100%;
    min-height: calc(100vh - 80px);
    /* overflow-x: scroll; */
    overflow: hidden;
    background-color: #F5F5F5;
}

.row {
    position: relative;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 50px;
    margin: 0;
    display: flex;
    /* justify-content: space-between; */
    /* text-align: left; because App.css sets it to center*/
    /* text-align: left; */
    background-color: inherit;
}

.col-1 {
    flex-basis: 40%;
    position: relative;
    /* margin-left: 50px; */
}

.col-1 h2 {
    font-size: 30px;
    font-weight: bold;
    margin: 0;
}

.col-1 p {
    font-size: 16px;
    color: #535461;
}