.heading_container {
    height: 60px;
    /* padding: 0 8%; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    background-color: var(--background);
}

.your_packages_container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    /* margin: 0 8%; */
}

.your_packages_left {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.your_packages_right {
    width: 40%;
}

.statistics_card {
    /* top: 150px; */
    background-color: var(--background-secondary);
    position: sticky;
    padding: 20px;
    box-shadow: var(--shadow-medium);
    border-radius: 12px;
}