.button {
    background-color: var(--primary);
    color: var(--button-text);
    border: none;
    border-radius: 12px;
    height: 50px;
    width: 180px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    padding: 0px 15px;
    cursor: pointer;
}

.button:hover {
    filter: brightness(90%);
    -webkit-filter: brightness(90%);
}