.main-multiselect-wrapper {
    position: relative;
    width: 100%;
}

.options-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.user-container {
    display: flex;
    border: var(--textfield-unfocused);
    border-radius: 12px;
    padding: 10px 20px;
    margin-bottom: 20px;
    cursor: pointer;
    width: 30%;
}

.selected-user {
    border: 1px solid var(--primary);
    background-color: var(--primary-light);
}

.user-name {
    color: var(--text-primary);
    font-size: 20px;
    font-weight: 600;
    flex-grow: 1;
    text-align: start;
}