.textarea {
    height: 50px;
    border-radius: 12px;
    border: var(--textfield-unfocused);
    background-color: var(--textfield-background);
    outline-color: var(--secondary);
    padding: 10px 10px;
    font-size: 16px;
    width: 100%;
}

.textarea::placeholder {
    color: var(--text-secondary);
    font-size: 16px;
}

.textarea:focus {
    background-color: var(--secondary-light);
}
