.app_details_container {
    padding: 2% 8%;
    background-color: var(--background);
    height: calc(100vh - 80px);
}

.app_details_wrapper {
    display: flex;
    flex-direction: row;
    width: 100%
}

.app_details {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.patient_details_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--background-secondary);
    border-radius: 12px;
    padding: 20px;
}

.patient_avatar {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.patient_img {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    border: 1px solid grey;
}

.patient_details {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin: 5px 0;
}

.patient_detail_title {
    font-size: 14px;
    color: var(--text-secondary);
    font-weight: bold;
}

.patient_detail_value {
    font-size: 14px;
    color: var(--text-primary);
    font-weight: bold;
}

.chat_container {
    width: 100%;
}