.navbar {
    padding-left: 8%;
    padding-right: 8%;
    width: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    background-color: #fff;
}

.logo {
    width: 50px;
    cursor: pointer;
    margin: 15px 0;
}

.nav-wrapper {
    display: flex;
    width: 100%;
    align-items: center;
}

nav {
    flex: 1;
    /* text-align: right; */
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}

nav ul li .link {
    text-decoration: none;
    color: #535461;
    font-size: 16px;
    cursor: pointer;
}

nav ul li .link:hover {
    color: #B8405E;
}

.menu-icon {
    width: 25px;
    cursor: pointer;
}

.menu-wrapper {
    position: relative;
}

.menu-wrapper .menu-main-section {
    display: flex;
    align-items: center;
}

.menu-wrapper .menu-main-section .menu-icon-wrapper {
    width: 40px;
    height: 40px;
    border-width: 1px;
    border-radius: 20px;
    border-color: #B8405E;
    margin-right: 10px;
}

.menu-wrapper .menu-main-section .arrow-button {
    padding: 0px;
    margin: 0px;
    border: 0px;
    background-color: #fff;
    cursor: pointer;
}

.menu-dropdown-wrapper {
    position: relative;
}

.menu-dropdown-wrapper-inner {
    position: absolute;
    z-index: 1;
    left: -95px;
    top: 10px;
}

.login-button-wrapper {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.login-button {
    width: 140px;
    border: 0;
    padding: 10px 12px;
    /* outline: none; */
    /* background: linear-gradient(to right, #fff, #B8405E); */
    background-color: #fff;
    border: 1px solid #B8405E;
    color: #B8405E;
    border-radius: 6px;
    cursor: pointer;
}

.menu-item {
    color: #757575 !important;
    font-size: 16px !important;
}