.forgot_password {
    color: var(--text-secondary);
    font-size: 14px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    text-decoration: underline;
    margin-top: 3px;
    align-self: flex-end;
    margin-right: 0;
}