.box {
    position: relative;
    flex: 1;
    background-color: var(--background-secondary);
    box-shadow: var(--shadow-large);
    border-radius: 12px;
    padding: 20px 20px;
    min-height: 300;
    min-width: 300;
    margin-right: 40px;
    /* text-align: left; because App.css sets it to center*/
    /* text-align: left; */
}


.box .box-col .imageWrapper {
    display: flex;
    width: 100%;
    min-height: 200px;
    justify-content: center;
    background-color: var(--background-secondary);
}

.box .box-col .imageWrapper .doctor_image {
    min-height: 100px;
    align-self: center;
}

.box .box-col h2 {
    font-weight: bold;
    font-size: 18px;
}

.box .box-col p {
    margin: 0px;
    font-size: 16px;
    color: #535461;
}


/* .box .box-col .button {
    background-color: var(--primary);
    color: var(--button-text);
    border: none;
    border-radius: 12px;
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    padding: 0px 15px;
    cursor: pointer;
}

.box .box-col .button:hover {
    filter: brightness(90%);
    -webkit-filter: brightness(90%);
} */

.box .box-col .border {
    /* margin-top: 20px; */
}