body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Light Theme */
:root {
  --background: #F6F6F6;
  --text-primary: black;
  --text-secondary: #757575;
  --primary: #B8405E;
  --primary-light: #b8405e0a;
  --secondary: #1976D2;
  --secondary-light: #1976D20a;
  --google: #F1F1F1;
  --textfield-background: #f9f9f9;
  --textfield-unfocused: 1px solid #D9D9D9;
  --textfield-focused: 1px solid var(--secondary);
  --textfield-error: 1px solid var(--primary);
  --button-text: white;
  --error: #FF3D00;
}

/* Dark Theme */
[data-theme='dark'] {
  --background: black;
  --text-primary: #F6F6F6;
  --text-secondary: #757575;
  --primary: #B8405E;
  --google: #F1F1F1;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}