.my_appointments_container {
    display: flex;
    flex-direction: column;
    padding: 2% 8%;
    background-color: var(--background);
    /* height: calc(100vh - 80px); */
}

.appointments_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.statistics_wrapper {
    width: 30%;
}